a.out
*.c
daytime/daytime
daytime/daytimeServer
echo/echo
echo/echoServer
echo/echoClient
select/echoServer
homework/chatServer
homework/chatClient
homework/fileServerTimeout
homework/fileClientTimeout
homework/fileServerSIG
homework/fileClientSIG
homework/fileServerSet
homework/fileClientSet
*pptx
*txt
